{% extends "base.html" %}
{% load static %}
{% block content %}

    
    <img class= "imagem" src="{% static 'img/choquedecultura1.jpg' %}" alt="">
<div class="texto">
    <div>
            <p>Achou que tava no Lorem Ipsum? Achou errado otário. Fica longe de ambiente de música! 
                    IDOSO É COVARDE, RAPÁ! Quer coisa mais jovem que bruno de luca no slackline? 
                   
                   </p>
            
    </div>
    <div>
            <p>Falo com tranquilidade. Porque hoje o jovem não vai mais numa boate. Eu nunca matei ninguém. Propositalmente. Só magia TOP Rogerinho. Palestrinha.
                </p>
    </div>
    
</div>
    

{% endblock %}